<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXWy9R0JbkZ8C8tmr3MtchvCkoQZNCQaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>975273579439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ride.mate</string>
	<key>PROJECT_ID</key>
	<string>ridemate-afd1e</string>
	<key>STORAGE_BUCKET</key>
	<string>ridemate-afd1e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975273579439:ios:584823da4d281c1babd55a</string>
</dict>
</plist>